:root {
    --fishdocs-font-color: #334155;
    --fishdocs-background-color: #fff;
    --fishdocs-button: #ebebef;
    --fishdocs-button-active: #506e10;
    --fishdocs-card-background: #f6f6f7;
    --fishdocs-nav-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
    --fishdocs-sidebar-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    --active-color: #776ce9;
}

html.dark,
.single-dark {
    --fishdocs-font-color: #dfdfd6;
    --fishdocs-background-color: #1b1b1f;
    --fishdocs-button: #32363f;
    --fishdocs-button-active: #acd268;
    --fishdocs-card-background: #202127;
    --fishdocs-nav-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.151);
    --fishdocs-sidebar-box-shadow: 1px 0 10px 0 rgba(255, 255, 255, 0.151);
}

* {
    /* transition: all 0.1s; */
}

html {
    width: 100%;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;

}

#root {
    width: 100vw;
    height: 100vh;
    color: var(--fishdocs-font-color);
    background-color: var(--fishdocs-background-color);
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--fishdocs-font-color);
    cursor: pointer;
}


a:hover {
    opacity: 0.6;
}

.fish-button-group:first-child .fish-button {
    background-color: var(--fishdocs-button-active);
}

.fish-button {
    height: 100%;
    border-radius: 50%;
    background-color: var(--fishdocs-button);
    font-weight: bold;
}

.fish-card {
    background-color: var(--fishdocs-card-background);
}

.fish-sidebar {
    padding-left: max(32px, calc(32px + (100vw - 1536px) / 2)) !important;
}

.fish-nav {
    box-shadow: var(--fishdocs-sidebar-box-shadow);
    background-color: var(--fishdocs-background-color);

}

.active-color>a {
    color: var(--active-color) !important;
}

.fish-content {
    
    margin-left: max(256px, calc(256px + (100vw - 1536px) / 2)) !important;
    width: calc(100vw - max(256px, calc(256px + (100vw - 1536px) / 2)));
}



pre {
    width: 100%;
    margin-top: 0px !important;
}

code {
    display: inline-block;
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: inherit;
    font-size: 20px;
    overflow-x: auto;
    padding: 20px;
    box-sizing: border-box;
}

.lang {
    font-weight: bolder;
    /* 倾斜 */
    font-style: italic;
    /* 下划线 */

    /* 闪烁 */
    text-decoration: blink;

    background: #2e3440;
    padding: 10px;
    border-radius: 5px;

    user-select: none;
    color: #dfdfd6;

}